<link rel="stylesheet" href="cancel.css">

<h1> Taking off the mask?</h1>



<form action='/cancel' method='POST'>
    <input type="text" name="user[user_email]" placeholder="User email">
    <input type="submit" value="Submit">
</form>