<html>
    <link rel="stylesheet" href="main.css">

    <h1 class="top">The time is now!</h1>
    <h1 class="top"> Lets go Thieves!</h1>

    <div id='logo'>

<img src='images/logo.png'>

</div>

    <p> Pain, Despair, Hatred,</p>
    <p> A human condition, the mind weak and we continue to suffer while other's more worse thrive from your pain. Why not put on the mask? And take back what is yours.</p>
   

</html>
