<link rel="stylesheet" href="main.css">

<h1>Welcome Back, <%= session[:user_name] %> </h1>


<h2> Requests </h2>

<form action='/profile' method='POST'>
    <textarea cols="50" rows="5" placeholder="Requests" name="post[content]"></textarea>
    <input type="submit" value="Submit">


</form>