body {
    margin: 0;
    background-color: black;
}

/* @font-face {
    font-family: 'Earwig Factory';
    font-family: 'p5hatty';
} */


 #navbar a {
    text-decoration: none;
    color: red;
} 

#navbar {
    display: grid;
    /* grid-template-columns: ; */
    text-align: center;
    font-size: 2em;
    grid-template-columns: repeat(6, auto);
    grid-gap: 2%;
    color: white;
}


.top {
 color: white; 
 font-family: 'Earwig Factory';
 margin: 20px, auto;
 margin-bottom: 0px;
 text-shadow: 4px 0 black, 0 -4px black, -4px 0 black, 0 4px black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}