body {
    margin: 0;
    background-color: black;
}

/* @font-face {
    font-family: 'Earwig Factory';
    font-family: 'p5hatty';
} */


#header-top {
    position: fixed;
    margin: 0;
    top: 0px;
	left: 0px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    background-color: #d61616;
    box-shadow: 0 4px 10px -2px black;
    z-index: 10001;
	padding: 4px 15px 5px 15px;
    border-top: 2px solid black;
    /* display: grid;
    text-align: center;
    font-size: 2em;
    grid-template-columns: repeat(6, auto);
    grid-gap: 2%;
    color: white;
 */
}

#header-top .right {
	float: right;
}


 #header-top a {
    text-decoration: none;
    color: white;
} 



#logo {
    display: grid;
    position: relative;
    justify-content: center;
    padding: 5%;
}



h1 {
    color: white;
    font-size: 3em;
}


p {
 color: white;
 font-family: 'p5hatty';
 text-align: center;
 font-size: 24px;
}

.top {
    color: white; 
    font-family: 'Earwig Factory';
    margin-bottom: 0px;
    margin: 104px;
    text-shadow: 4px 0 black, 0 -4px black, -4px 0 black, 0 4px black;
    text-align: center;
 }


.link-line {
    display: inline-block;
  }
  
.link-line::after {
     content: '';
     display: block;
     width: 0;
     height: 5px;
     background-image: url("data:image/line.svg");
     fill: black;
     transition: width .3s;
  }
  
.link-line:hover::after {
    width: 100%
  }

 